@model RetailProduct

@{
    ViewData["Title"] = "Edit";
}

<div class="ps-main__wrapper">
    <header class="header--dashboard">
        <div class="header__left">
            <h3>Modify Product</h3>
            <p>Edit Online Product</p>
        </div>
        <div class="header__right">
            <a asp-area="Products" asp-controller="Online" asp-action="Index" class="header__site-link">
                <span>Go Back</span><i class="bi bi-box-arrow-in-left"></i>
            </a>
        </div>
    </header>
    <form class="ps-form" method="post">
        <div class="ps-form__content">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8">
                    <figure class="ps-block--form-box">
                        <figcaption>Online Product</figcaption>
                        <div class="ps-block__content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Name"></label><sup>*</sup>
                                        <input asp-for="Name" class="form-control" type="text" placeholder="Product Name..." />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Season"></label><sup>*</sup>
                                        <input asp-for="Season" class="form-control" type="text" placeholder="Product Season..." />
                                        <span asp-validation-for="Season" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Size"></label><sup>*</sup>
                                        <input asp-for="Size" class="form-control" type="text" placeholder="Product Size..." />
                                        <span asp-validation-for="Size" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Color"></label><sup>*</sup>
                                        <input asp-for="Color" class="form-control" type="text" placeholder="Product Color..." />
                                        <span asp-validation-for="Color" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Type"></label><sup>*</sup>
                                        <input asp-for="Type" class="form-control" type="text" placeholder="Product Type..." />
                                        <span asp-validation-for="Type" class="text-danger mt-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
        <div class="ps-form__bottom">
            <button class="ps-btn success" type="submit">Change Product</button>
        </div>
    </form>
</div>