@model LineProduct

@{
    var pageTitle = "Create Product";
    var pageSubtitle = "New Retail Product";
}

<partial name="_ToastrNotification" />

<div class="ps-main__wrapper">
    <header class="header--dashboard">
        <div class="header__left">
            @if (Model == null)
            {
                <h3>@pageTitle</h3>
                <p>@pageSubtitle</p>
            } else
            {
                <h3>Modify Product</h3>
                <p>Edit Retail Product</p>
            }
        </div>
        <div class="header__right">
            <a asp-area="Store" asp-controller="Products" asp-action="Index" class="header__site-link">
                <span>Go Back</span><i class="bi bi-box-arrow-in-left"></i>
            </a>
        </div>
    </header>
    <form class="ps-form" method="post">
        <div class="ps-form__content">
            <div class="row">
                <div class="col-xs-12 col-sm-11 col-md-9 col-lg-8 col-xl-7">
                    <figure class="ps-block--form-box">
                        <figcaption>Retail Product</figcaption>
                        <div class="ps-block__content">
                            <div class="row">
                                <div class="col-sm-3 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="LineProductNo"></label><sup>*</sup>
                                        <input asp-for="LineProductNo" class="form-control" type="text" placeholder="PRD-1001" />
                                        <span asp-validation-for="LineProductNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-8">
                                    <div class="form-group">
                                        <label asp-for="Name"></label><sup>*</sup>
                                        <input asp-for="Name" class="form-control" type="text" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Season"></label><sup>*</sup>
                                        <input asp-for="Season" class="form-control" type="text" />
                                        <span asp-validation-for="Season" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Size"></label><sup>*</sup>
                                        <input asp-for="Size" class="form-control" type="text" />
                                        <span asp-validation-for="Size" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Color"></label><sup>*</sup>
                                        <input asp-for="Color" class="form-control" type="text" />
                                        <span asp-validation-for="Color" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Type"></label><sup>*</sup>
                                        <input asp-for="Type" class="form-control" type="text" />
                                        <span asp-validation-for="Type" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="Price"></label><sup>*</sup>
                                        <input asp-for="Price" class="form-control" type="text" />
                                        <span asp-validation-for="Type" class="text-danger mt-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="ps-form__bottom">
                    @if (Model == null)
                    {
                        <button class="ps-btn success" type="submit">Add Product</button>
                    }
                    else
                    {
                        <button class="ps-btn success" type="submit">Change Product</button>
                    }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
