
<div class="ps-main__sidebar">
    <div class="ps-sidebar">
        <div class="ps-sidebar__top">
            <div class="ps-block--user-wellcome">
                <div class="ps-block__left"><img src="~/img/users/manager-thumbnail.jpg" alt="Store Manager Profile Pic" /></div>
                <div class="ps-block__right">
                    <p>Hello, Store Manager<a href="#">Richard Mendez</a></p>
                </div>
                <div class="ps-block__action">
                    <a href="#"><i class="bi bi-door-open"></i></a>
                </div>
            </div>
        </div>
        <hr />
        <partial name="_NavbarSection" />
    </div>
</div>